/* head related styles*/
.header{
    background-color: #FFF8F3;
    
}
.banner-t{
    padding: 40px 220px 150px ;
        display: flex;
        align-items: center;
        justify-content: space-around;
        background-color: rgba(229, 84, 115, 0.10);
  

}
.btn{
    border-radius: 5px;
    background-color: #E55473;
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;}
    .banner-title{
        color: #272727;
font-size: 80px;
font-weight: 800;
    }
/* main section styles*/

/* about section styles*/
.section-title{
    color: #272727;
text-align: center;
font-size: 40px;
font-weight: 800;
}
.section-description{
    color: rgba(39, 39, 39, 0.60);
text-align: center;
font-size: 18px;
font-weight: 400;
line-height: 30px;
}


 
       